* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    background: #F5fAfA;
    font-family: 'Inter', sans-serif;
}

.main {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2.98256px 7.4564px rgb(0 0 0 / 10%);
}

.navbar {
    gap: 7px;
    width: 100%;
    height: 60px;
    display: flex;
    color: #fff;
    align-items: center;
    background: #F55A5A;
    justify-content: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 2.98256px 7.4564px rgb(0 0 0 / 10%);
}

.nav--logo {
    width: 24px;
    height: 24px;
}

.nav--title {
    font-size: 15px;
    font-weight: 500;
}

.card {
    gap: 25px;
    display: flex;
    padding: 30px 40px;
    align-items: center;
}

.card:nth-of-type(1) {
    padding-top: 40px;
}

.card:nth-of-type(2) {
    margin: 0 40px;
    padding: 30px 0;
    border-top: 2px solid #e4dede;
    border-bottom: 2px solid #e4dede;
}

.card:nth-of-type(3) {
    padding-bottom: 40px;
}

.card--image {
    height: 258px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.location--stats {
    display: flex;
    align-items: center;
}

.card--icon {
    margin-right: 4px;
}

.card--location {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #2B283A;
    margin-right: 10px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.card-map {
    font-size: 15px;
    font-weight: 500;
    color: #918E9B;
    text-decoration-line: underline;
}

.card--title {
    font-size: 35px;
    font-weight: 700;
    color: #2B283A;
    margin-top: 10px;
}

.card--date {
    font-weight: 700;
    font-size: 15px;
    color: #2B283A;
}

.card--description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #2B283A;
    line-height: 150%;
}